.grid-container {
  display: grid;
  grid-row-gap: 50px;

}

h1 {
  font-size: 50px;
  color: blue;
  padding: 16px;
  text-transform: full-width;
  text-align: center;

  text-shadow:   1px 0px #eee, 0px 1px #ccc,
                 2px 1px #eee, 1px 2px #ccc,
                 3px 2px #eee, 2px 3px #ccc,
                 4px 3px #eee, 3px 4px #ccc,
                 5px 4px #eee, 4px 5px #ccc,
                 6px 5px #eee, 5px 6px #ccc,
                 7px 6px #eee, 6px 7px #ccc,
                 8px 7px #eee,
                 8px 8px #eee;
}

.row {

  grid-template-columns: minmax(100px, max-content)
                       repeat(auto-fill, 200px) 30%;
  align-content: stretch;
  padding: 20px;
  margin: auto 0 1em 0;
  grid-column-gap: 20px;
  max-width: 100%;
  overflow: hidden;
}

.span_1_of_3 {
    top: 0;
    width: 500px;
    padding: 10px;
}

.span_2_of_3 {
  top: 0;
  width: 500px;
  padding: 10px;
}

.span_3_of_3 {
  top: 0;
  width: 500px;
  padding: 10px;
}


.landing-image {

  border: 0.1px solid #ccc;
  max-height: 400px;
  width: 100%;
  box-shadow: 10px 10px 8px #888888;
}


h2 {
  padding: 10%;
}


body {
  display: grid;
}
